/api.xml
/*.png
/res/.tmp
/res/style/*.css
/*.hl
/*.gpu
/save.sav
/*.js
node_modules
.bin
/doc/.vuepress/.cache
/doc/.vuepress/.temp
/doc/.vuepress/dist
package-lock.json
/picogpu
/*.zip
pico/
*.o
*.a
*.d
neogpu_demo
neogpu_tool
test_*
tests/test_
!tests/test_*.c
index.html
fmt.hdll
mysql.hdll
openal.hdll
sdl.hdll
ssl.hdll
ui.hdll
uv.hdll
hl
libhl.so
*.gguf
*.bin
models/
neogpu_pong
neogpu_pong_ai
neogpu_pong_llm
neogpu_capture_demo
